<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.taskreminder">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true">
        <activity
            android:name=".ui.activities.MainListActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.MainTaskListActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.TaskDialogActivity"
            android:theme="@style/AppTheme.TaskDialog" />

        <service
            android:name=".background.NotificationJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <service
            android:name=".background.alarms.AlarmActionsIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <provider
            android:name=".db.TaskProvider"
            android:authorities="com.example.android.taskreminder"
            android:exported="false" />

        <receiver android:name=".background.alarms.AlarmReceiver" />

        <activity
            android:name=".ui.activities.TaskEditActivity"
            android:parentActivityName=".ui.activities.MainListActivity"
            android:theme="@style/AppTheme.TaskEditActivity" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>